<%- include('layouts/head'); -%>
<body>
    <%- include('layouts/header'); -%>
    <%- include('layouts/nav'); -%>
    <main>
        <div class="hero">
            <section>
                <div class="formData">
                    <p><%= message %></p> <!-- No need to check errors, as its already done! -->
                </div>
            </section>
        </div>
    </main>
<%- include('layouts/footer'); -%>